<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body class="container-fluid">
        {% if code is not defined %}
            <h1>Connect using OAuth 2 Authorization Code Grant</h1>
            <a class="btn btn-primary" href="{{ oauthURL }}" title="Make OAuth2 Connection">Connect to whoever</a>
        {% else %}
            <h1><strong>Connected.</strong> Exchange Authorization code for tokens.</h1>
            <pre>
                Code: {{ code }}
                State: {{ state }}
            </pre>
            <form action="{{ path('o_auth_authentication_oauth2callback') }}" method="POST">
                <input type="hidden" name="redirect_uri" value="{{ url('o_auth_authentication_redirect') }}" />
                <input type="hidden" name="code" value="{{ code }}"/>
                <input type="hidden" name="client_id" />
                <input type="hidden" name="client_secret" />
                <input type="hidden" name="scope" />
                <input type="hidden" name="grant_type" value="authorization_code"/>
                <button class="btn btn-primary" type="submit">Exchange authorization code for tokens</button>
            </form>
        {% endif %}
    </body>
</html>